<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Blood cell Detector</title>

    <style>
        * {
            font-family: arial, sans-serif;
        }

        .main-layout {
            background: url(./static/skin_final.jpeg);

        }
    </style>



    <script>

        function s(f) {
            console.log('worked')
            if (/^image/.test(f.files[0].type)) { // only image file
                var reader = new FileReader(); // instance of the FileReader
                reader.readAsDataURL(f.files[0]); // read the local file
                console.log('slkfjs')

                reader.onloadend = function () { // set image data as background of div
                    //alert(uploadFile.closest(".upimage").find('.imagePreview').length);
                    //uploadFile.closest(".imgUp").find('.imagePreview').css("background-image", "url(" + this.result + ")");
                    document.getElementById("preview").src = reader.result;
                }
            }
        }
    </script>
</head>

<body class="main-layout">

    <h1 style="color: rgb(20, 9, 9);
    text-shadow: -2px 2px 8px black; text-align: center;">SKIN DISEASE PREDICTION</h1>
    <form method="POST" action="" enctype="multipart/form-data">
        <div style="display: flex;
        flex-flow:column;
        border-radius: 20px;
        padding: 35px;
        color: white;
        background: #000000ab;">
            <div>
                <input onchange="s(this)" type="file" class="uploadFile img" value="Upload Photo" name="image_file"
                    accept="image/*">
            </div>
            <div>
                <img id="preview" style="border-radius: 10px;
                margin: 10px;" src="" />
            </div>
            <div>
                <button style="padding: 10px;" type="submit">Detect</button>
            </div>
        </div><!-- container -->
    </form>
</body>

</html>